<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <form action="register_labour.html" method="post">
        {%csrf_token%}
        <input type="text" name="first_name" placeholder="First name" /><br/>
        <input type="text" name="last_name" placeholder="Last name" /><br/>
        <input type="number" name="number" placeholder="Enter the number" /><br/>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <br/>
        <input type="submit" /><br/>
    </form>

</body>
</html>