<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a href="./register_contractor.html"><button class="btn btn-primary">Register Contractor</button></a><br/>
                <h3 class="card-title">
                    Contractor
                </h3>
            </a>
        </div>    
        </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <a href="register_labour"><h3 class="card-title">
                        Labour
                    </h3></a>
                </div>
        </div>
    </div>
</body>
</html>